body {
  margin: 0;
  background: linear-gradient(to left, rgb(35, 58, 121) 0%, rgb(0, 87, 87) 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
